NEXT_PUBLIC_DAO_ADDRESS="0x878412b63B03Bf6f2D797D6D1c0f5A2912F3e88E"
NEXT_PUBLIC_PLUGIN_ADDRESS="0xE28D2666CCb5A0cE3B7B3Aaf31D6B105bDb72c59"
NEXT_PUBLIC_TOKEN_ADDRESS="0x0D5A3C79a3D71F0829dD0d9E8F500d762D669184"

NEXT_PUBLIC_WC_PROJECT_ID=<<YOUR WALLET CONNECT PROJECT ID>>
NEXT_PUBLIC_ALCHEMY=<<ALCHEMY KEY>>
NEXT_PUBLIC_IPFS_ENDPOINT=<<IPFS ENDPOINT>>
NEXT_PUBLIC_IPFS_API_KEY=<<IPFS KEY CONNECTION>>
NEXT_PUBLIC_ETHERSCAN_API_KEY=<<OPTIONAL: ETHERSCAN API>>
